<h1>New Application</h1>
<% flash.each do |type, msg| %>
  <div data-alert class="callout alert">
    <ul>
      <% msg.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= render 'applications/applications_form' %>