<div class="columns small-12">
  <h1>Admin Page</h1>
</div>

<div class="columns small-12">
  <ul>
    <% @shelters.each do |s| %>
      <li><%= link_to s.name, shelter_show_path(s) %></li>
    <% end %>
  </ul>
</div>

<% if @shelters_pending && !@shelters_pending.empty? %>
  <div class="columns small-12" id="shelters_pending_pets">
    <h3>Shelters with pending applications</h3>
    <ul>
      <% @shelters_pending.each do |s| %>
        <li><%= link_to s.name, shelter_show_path(s) %></li>
      <% end %>
    </ul>
  </div>
<% end %>